<ng-template bkrPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12 col-md-offset-3 col-md-6">
    <!-- <div class="alert alert-danger" *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div> -->
    <!-- <bkr-alert [message]="errorMessage" 
               (close)="onHandleError()" 
               *ngIf="errorMessage">
    </bkr-alert> -->        
    <div *ngIf="isLoading" style="text-align: center">
        <bkr-loading-spinner></bkr-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input class="form-control" 
               type="email" 
               name="email" 
               id="email"
               ngModel
               required
               email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" 
               type="password" 
               name="password" 
               id="password" 
               ngModel
               required
               minlength="6">
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]= "authForm.invalid">
          {{ isLoginMode ? 'Login' : 'Sign Up'}}
        </button> | 
        <button class="btn btn-primary" type="button" (click)="onSwtichMode()">Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
      </div>      
    </form>
  </div>
</div>